---
import FormattedDate from "../../components/FormattedDate.astro";
import { getAllPosts } from "../../utils/hashnode/client";
import RootLayout from "@/layouts/RootLayout.astro";
import { AspectRatio } from "@/components/ui/aspect-ratio";
const data = await getAllPosts();
const allPosts = data.publication.posts.edges;

const posts = allPosts.sort(
  (a, b) =>
    new Date(b.node.publishedAt).valueOf() -
    new Date(a.node.publishedAt).valueOf()
);
---

<RootLayout>
  <section
    class="relative mx-auto max-w-screen-lg gap-x-6 px-4 py-10 md:flex md:flex-row md:py-10"
  >
    <ul class="mx-6 grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-10">
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.node.slug}/`} class="flex flex-col gap-2">
              <img
                width={1600}
                height={840}
                src={post.node?.coverImage?.url ?? ""}
                alt=""
                class="rounded-lg"
              />
              <h4 class="font-bold text-3xl md:text-2xl">{post.node.title}</h4>
              <p class="date">
                <FormattedDate date={new Date(post.node.publishedAt)} />
              </p>
              <p class="text-sm text-gray-500 line-clamp-3">
                {post.node.brief}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</RootLayout>
