---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { ModeToggle } from "./ui/ModeToggle";
---

<header
  class="border-grid sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container-wrapper">
    <div class="container flex h-14 items-center">
      <div class="flex mr-4">
        <h2 class="mr-4 flex items-center gap-2 lg:mr-6">
          <a href="/">{SITE_TITLE}</a>
        </h2>
        <nav>
          <div class="flex gap-4">
            <!-- <HeaderLink href="/">Home</HeaderLink> -->
            <HeaderLink href="/blog">Blog</HeaderLink>
          </div>
        </nav>
      </div>

      <div class="flex flex-1 items-center gap-2 justify-end">
        <nav class="flex items-center gap-0.5">
          <ModeToggle client:load />
        </nav>
      </div>
    </div>
  </div>
</header>
