---
import FormattedDate from "../../../components/FormattedDate.astro";
import { getAllPosts, getPost } from "../../../utils/hashnode/client";
import RootLayout from "@/layouts/RootLayout.astro";

export async function getStaticPaths() {
  const data = await getAllPosts();
  const allPosts = data.publication.posts.edges;
  return allPosts.map((post) => {
    return {
      params: { slug: post.node.slug },
    };
  });
}
const { slug } = Astro.params;
const post = await getPost(slug);
console.log({ post });
---

<RootLayout>
  <article>
    <div class="hero-image">
      <!-- {
        post.coverImage.url && (
          <img width={1020} height={510} src={post.coverImage.url} alt="" />
        )
      } -->
    </div>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={new Date(post.publishedAt)} />
          <!-- {
            post.updatedAt && (
              <div class="last-updated-on">
                Last updated on{" "}
                <FormattedDate date={new Date(post.)} />
              </div>
            )
          } -->
        </div>
        <h1>{post.title}</h1>
        <hr />
      </div>
      <Fragment set:html={post.content.html} />
    </div>
  </article>
</RootLayout>
